@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?8053n8');
  src:url('../fonts/icomoon.eot?#iefix8053n8') format('embedded-opentype'),
    url('../fonts/icomoon.woff?8053n8') format('woff'),
    url('../fonts/icomoon.ttf?8053n8') format('truetype'),
    url('../fonts/icomoon.svg?8053n8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e603";
  color: white;
font-size: 1.5em;
}
.icon-clock:before {
  content: "\e604";
}
.icon-search:before {
  content: "\e600";

}
.icon-fire:before {
  content: "\e601";
  color: #E8372C;
  position: inherit;
}
.icon-point-up:before {
  content: "\e602";

}

.container {
  margin: 0 auto;
  width: 60em;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}
th {
  text-align: left;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

p{
  font-family: 'Raleway', sans-serif;
  font-style: justify;
}
header {
  background-color: black;
  height: 4em;
}
ul{
  margin-top: 12px;
  padding: 0;
}
li{
  display: inline-block;
}
nav{

height: 4em;
float: right;
padding-right: 2em;
}
a.top_nav {
    padding: 1.6em;
    text-decoration: none;
    color:white;
}

.main_font{
    font-family: 'Abril Fatface', cursive;
    color:white;
    float: left;
    font-size: 31px;
    margin-top: 8px;
    margin-left: 20px;
}
span {
    font-size: 15px;
}
input{
  border-radius: 0.3em
}

input[type=text],input[type=password],input[type=email], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus,input[type=password]:focus, input[type=email]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

  #search_buttom{
background: none;
  border: none;
  color: white;

}

.login_singup{

  background: black;
  border: none;
  color: white;
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 1em;
  margin-top: 2em;

}
a{
  text-decoration: none;
  color: #182BAF;
}
#error{
  color: red;
}
.container{
  text-align: center;
}
.input_bar{
  width: 15em;
  height: 1.5em;
}

h4,h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1.6em;
}

#gravatar{
  border-radius: 2em;
}

.rebuttals{
  display: inline-block;
}
.list{
  display: block;
  margin-top: 1em;
  font-size: 1.5em;
  color:#858585;
}
.text_area{
  width: 30em;
  height: 10em;
}
.confrontation{
  display: inline-flex;
  text-align: justify;
}
.argument
{
  margin: 0 10px;
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 1em;
  position: relative;
  width: 25em;
}

.votes{
  display: inline-block;
}
.counter{
  float:bottom;
}
.up_buttom{
  background: none;
  text-decoration: none;
  border: none;
  font-size: 2em;
  margin: 0 5em;
}
.home{
  padding: 1.5em;
  position: relative;
  top: 5px;
}
.search{
  position: relative;
  top: 3px;
  font-size: 1.2em;
}