<div class="container">
  <h1>Confrontation</h1>

<div class='confrontation'>
  <h4><%= @confrontation.title %></h4>
  <div class='argument'>
    <p><%= @confrontation.argument %></p>
    <input type='submit' value='Upvote!'>
  </div>
  <div class='rebuttal'>
    <p><%= @confrontation.rebuttal.counterargument %></p>
    <input type='submit' value='Upvote!'>
  </div>
</div>


</div>
