<div class="container">

  <h1>New Confrontation</h1>
  <h3></h3>
  <form action='/confrontation' method='POST'>
    <p>Title:</p>
    <input type="hidden" name="confrontation[user_id]" value='<%= session[:user_id]%>'>
    <input class = " input_bar" type="text" name="confrontation[title]" required><br>
    <p>Argument:</p>
    <textarea  class = "text_area" name="confrontation[argument]" required></textarea><br>
    <p>Your Opponent:</p>
    <input class = " input_bar" type="text" name="opponent" placeholder='Username' required><br>
    <p>Tags:</p>
    <input  class = " input_bar" type="text" name="tags" placeholder='politics, sports, etc...' required><br>
    <input class= "login_singup" type="submit" value="Submit">
  </form>

</div>
