<div class="container">
  <h6><a href="/">Home!</a></h6>
  <h2>#<%= @tag.name %></h2>

  <% @confrontations.each do |confrontation|%>
    <a href='/confrontation/<%= confrontation.id %>'><%= confrontation.title %></a>
  <% end %>

</div>
