<div class="container">
  <h1>#<%= @tag.name %></h1>
  <ul>
  <% @confrontations.each do |confrontation|%>
    <li class = 'list'><a href='/confrontation/<%= confrontation.id %>'><%= confrontation.title %></a></li>
  <% end %>
  </ul>
</div>
