<div class="container">
 <div id = "error"> <%= display_error %> </div>

  <h1> Login </h1>
    <form action='/login' method="POST">
      Username: <br><br>
      <input class = " input_bar" type="text" name="user[name]" required><br><br>
      Password:<br><br>
      <input class = " input_bar" type="password" name="user[password]" required><br><br>
      <input class = "login_singup" type="submit" value="Login">
       <a href='/signup'><input class = "login_singup" type="submit" value="Signup"></a>
    </form>
</div>
