<div class="container">

  <h1> Signup </h1>
    <form action='/signup' method="POST">
      Username: <br><br>
      <input  class = "input_bar"  type="text" name="user[name]" required><br><br>
      Email: <br><br>
      <input  class = "input_bar"  type="email" name="user[email]" required><br><br>
      Password:<br><br>
      <input  class = "input_bar"  type="password" name="user[password]" required><br><br>
      Confirm Password:<br><br>
      <input  class = "input_bar" type="password" name="user[password_confirmation]" required><br><br>
      <input class = 'login_singup' type="submit" value="Signup">
    </form>

</div>
