<div class="container">
  <h1>New Rebuttal</h1>
  <h3></h3>
  <form action='/rebuttal' method='POST'>
    <input type="hidden" name="rebuttal[user_id]" value='<%= session[:user_id]%>'>
    <p>Rebuttal:</p>
    <textarea name="rebuttal[rebuttal]"></textarea><br>
    <input type="submit" value="Submit">
  </form>


</div>
