<div class="container">
  <h1>Confrontation!</h1>

  <form action='/login' method="GET">
    <input type="submit" value="Login">
  </form>
  <br>
  <form action='/signup' method="GET">
    <input type="submit" value="Signup">
  </form>
  <br>
  <form action='/logout' method="GET">
    <input type="submit" value="Logout">
  </form>

</div>

</div>
