<div class="container">
  <h1>Welcome to Settle The Score</h1>
  <p>Welcome to Settle The Score, the premier online debate mediator. Challenge your friends and foes to an all out squabble to the death in hopes of being crowned the internets best arguer. Don’t have the guts to compete…sign up and up-vote other peoples confrontations and rebuttals. Winners will be decided after 24 hours!</p>
  <section>
    <div>

    </div>

    <h3>Recent Arguments:</h3>
      <ul>
    <% @confrontations.each do |conf| %>
      <li class = 'list'>
        <% if conf.created_at != conf.updated_at %>
        <a href="/confrontation/<%= conf.id %>"><%= conf.title %></a>
      <% end %>
      </li>
    <% end %>
    </ul>
  </section>
</div>
