<div class="container">
  <h1>Confrontation!</h1>

  <section>
    <% @confrontations.each do |conf| %>
      <% if conf.created_at != conf.updated_at %>
        <a href="/confrontation/<%= conf.id %>"><%= conf.title %></a>
      <% end %>
    <% end %>
  </section>

</div>
