<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      normalize.css removes cross-browser differences in defaults, e.g.,
      differences in how form elements appear between Firefox and IE
      See: http://necolas.github.com/normalize.css/
    -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--
      application.css is where you put your styles
    -->
    <link rel="stylesheet" href="/css/application.css">
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,800,400,200,300' rel='stylesheet' type='text/css'>
    <title>Settle The Score!</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <p class = "main_font">SettleTheScore</p>
  <datalist id='tags'>
    <% tags.each do |tag| %>
      <option value="<%= tag.name %>">
    <% end %>
  </datalist>
  <nav class="head">
    <ul>
      <% if !session[:user_id] %>
        <li> <a href="/" class = "icon-home"></a></li>
        <li><a class="top_nav" href="/login">Login</a></li>
        <li><a class="top_nav" href="/signup">Signup</a></li>
      <% else %>
        <li> <a href="/" class = "icon-home"></a></li>
        <li><a class="top_nav" href="/profile/<%= session[:user_id] %>">Hi, <%= User.find(session[:user_id]).name %></a></li>
        <li><a class="top_nav" href="/logout">Logout</a></li>
        <li><a class="top_nav" href="/confrontation/new">Start Arguing!</a></li>
      <% end %>
      <li>

        <form action='/tag' method='GET'>
          <input type="text" list='tags' name='tag' placeholder='politics, sports, etc...'>
          <input id = "search_buttom" class="icon-search" type="submit" value ="&#xe600">
        </form>

      </li>
    </ul>
  </nav>
  </header>


      <%=yield%>

  </body>
</head>
</html>
